.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/f4/6f/60/f46f6062aa1330a2edc8e3fd5658eb2f.jpg");
  position: fixed;
  min-width: 100% ;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.foto {
  height: 40;
  width: 40;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
